
.app-bar-dark {
    background: linear-gradient(45deg, #333, #444); /* Dark mode gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition for background and shadow */
  }
  
  .app-bar-light {
    background: linear-gradient(45deg, rgb(74 218 240), rgb(7 126 143));
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition for background and shadow */
  }
  
  /* Styles for the title */
  .title {
    margin-left: 40px;
    color: #fff; /* White text for both dark and light mode */
    font-weight: bold;
    font-family: "Roboto", sans-serif; /* Modern font family */
    letter-spacing: 1px; /* Spacing between letters for a sleek look */
  }
  
  /* Container for the dark mode toggle */
  .toggle-container {
    display: flex;
    align-items: center;
  }
  
  /* Styles for the icon button */
  .icon-button {
    margin-right: 10px;
  }
  
  /* Styles for the switch */
  .dark-mode-switch {
    background-color: transparent; /* Ensure the background is handled by MUI theme */
    transition: background-color 0.3s ease;
  }
  